# OCR
ocr/aws/.terraform/*
ocr/aws/terraform.tfstate
ocr/aws/terraform.tfstate
ocr/azure/.terraform/*
ocr/azure/.terraform.locl.hcl
ocr/azure/terraform.tfstate
ocr/azure/terraform.tfstate.backup
.git/*
.terraform.tfstate